In [35]:
import pandas as pd
import numpy as np
from numpy import nan

In [36]:
a = ["ahsan","ali",23,43]

In [37]:
obj1 = pd.Series([23,34,45,56,67])

In [38]:
obj1

0    23
1    34
2    45
3    56
4    67
dtype: int64

In [39]:
obj1[2]

45

In [40]:
obj1[5] = 90

In [41]:
obj1

0    23
1    34
2    45
3    56
4    67
5    90
dtype: int64

In [42]:
obj1.mean()

52.5

In [43]:
obj2 = pd.Series(["ahsan","ali","umer","taha"],index = ["a","al","u","t"])
obj2

a     ahsan
al      ali
u      umer
t      taha
dtype: object

In [44]:
obj2[2]

'umer'

In [45]:
obj2 = pd.Series(["ahsan","ali","umer","taha"],index = [4,3,2,1])
obj2

4    ahsan
3      ali
2     umer
1     taha
dtype: object

In [46]:
obj2[2]

'umer'

In [47]:
obj2[1]

'taha'

In [48]:
fruits=pd.seriesfruits = pd.Series(["bananas","orange",nan,"mango",nan])
fruits

0    bananas
1     orange
2        NaN
3      mango
4        NaN
dtype: object

In [49]:
fruits = pd.Series(["bananas","orange",nan,"mango",nan])
fruits.dropna()

0    bananas
1     orange
3      mango
dtype: object

In [50]:
fruits.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [51]:
fruits.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [52]:
fruits[fruits.isnull()]

2    NaN
4    NaN
dtype: object

In [53]:
fruits[fruits.notnull()]

0    bananas
1     orange
3      mango
dtype: object

In [55]:
x= pd.Series([10,11,12,13,nan,15,19,nan,18,nan])

In [59]:
y=x.mean()
y

14.0

In [61]:
x.fillna(y)                    #y ki jagah koi bhi value fill karsakte hain

0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    19.0
7    14.0
8    18.0
9    14.0
dtype: float64

In [64]:
money= pd.Series([2340,7800,8900,7865,6543])
money

0    2340
1    7800
2    8900
3    7865
4    6543
dtype: int64

In [63]:
dates = pd.date_range('2019-07-11' , '2019-07-15')
dates

DatetimeIndex(['2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14',
               '2019-07-15'],
              dtype='datetime64[ns]', freq='D')

In [68]:
money01=pd.Series([2340,7800,8900,7865,6543],index=[dates])  #ye tareeqa galat hai series wapis nahi likhen ge
money01

2019-07-11    2340
2019-07-12    7800
2019-07-13    8900
2019-07-14    7865
2019-07-15    6543
dtype: int64

In [70]:
money01=pd.Series(money.values,index=dates)  #ye sahi tareeqa hai
money01

2019-07-11    2340
2019-07-12    7800
2019-07-13    8900
2019-07-14    7865
2019-07-15    6543
Freq: D, dtype: int64

In [72]:
 obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [73]:
 obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [74]:
 obj2['a']

-5

In [75]:
 obj2['d'] = 6

In [76]:
 obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [77]:
 obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [78]:
 obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [79]:
 obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [80]:
 np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [81]:
 'b' in obj2

True

In [82]:
'e' in obj2

False

In [83]:
 sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [86]:
 obj3 = pd.Series(sdata) #When only passing a dict, the index in the resulting Series will have the dict’s keys in sorted order

In [87]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [88]:
 states = ['California', 'Ohio', 'Oregon', 'Texas']

In [92]:
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [93]:
 obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [94]:
obj4.name = 'population'
obj4.index.name = 'state'

In [95]:
 obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64